<li class="list-group-item">
    {{this.id}}.  {{this.burger_name}}  
    <span class="float-right">
    <button class="devour" data-id="{{id}}" data-status="{{this.devoured}}">Devour It!</button>
    </span>
</li>
